* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

.app {
  /* height: fit-content; */
  width: 100%;
  /* position: relative; */
  background-image: url('https://bit.ly/3CuKlPZ');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  /* background: rgba(0, 0, 0, 0.25); */
  /* min-height: 100vh; */
  display: flex;
}
.container-fluid {
  background: rgba(0, 0, 0, 0.25);
  color: white;
  display: flex;
  flex-direction: column;
}
.header {
  display: flex;
  justify-content: center;
  padding: 2rem;
  min-height: 10vh;
}
.body {
  display: flex;
  border-bottom: 1px solid white;
  /* height: 25%; */
  height: 80vh;
}
/* Left */
.searchArea {
  display: flex;
  flex-direction: column;
  flex: 1;
  border: 1px solid white;
  height: 100%;
  border-radius: 17px;
}
.searchArea__bottom {
  display: flex;
}
.searchArea form {
  padding: 1rem;
  border-bottom: 1px solid white;
}
.searchArea #searchBar {
  padding: 0.5rem;
  width: 80%;
  border: 1px solid white;
  border-radius: 17px;
}
.searchArea #submitBtn {
  width: 20%;
  border-radius: 10px;
  background-color: transparent;
  color: white;
  border: 1px solid white;
}
.searchArea #searchList {
  overflow-y: scroll;
}
.searchArea #searchList::-webkit-scrollbar {
  display: none;
}
.searchArea #searchList button {
  background-color: transparent;
  padding: 0.7rem;
  cursor: pointer;
  border: none;
  color: white;
}
#searchResult {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  padding: 3px;
  border: 1px solid white;
  border-radius: 10px;
}
#searchResult:hover {
  cursor: pointer;
  background-color: skyblue;
}

/* Center */
.currentWeather {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 3;
  height: 100%;
  object-fit: contain;
  overflow: scroll;
}
.currentWeather::-webkit-scrollbar {
  display: none;
}
.currentWeather__top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  min-height: fit-content;
}
.currentWeather__top #cityName {
  font-size: 5rem;
  margin-bottom: 2rem;
  color: white;
  font-family: 'Lora', serif;
}
.currentWeather__top #temperature {
  font-size: 4rem;
  margin-top: 2rem;
}

.currentWeather__info {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}
.currentWeather__info .info__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  border-right: 1px solid white;
  min-width: 20%;
}
.currentWeather__info .info__box:first-child {
  border-left: 1px solid white;
}
.currentWeather__info .info__box h3,
.currentWeather__info .info__box h4 {
  font-size: 1.5rem;
  margin: 1rem;
}

.currentWeather__info .info__box #uv {
  color: black;
}

/* List of states section */
.listOfStates {
  display: flex;
  flex-direction: column;
  flex: 1;
  border: 1px solid white;
  border-radius: 17px;
  overflow-y: scroll;
  width: 100%;
  height: 100%;
}

#listOfStates__title {
  font-size: 1.5rem;
  text-align: center;
  margin: 1rem;
  font-family: 'Lora', serif;
}
#stateList tr:nth-of-type(odd) {
  background-color: #e7b593;
}
#stateList tr {
  display: flex;
  justify-content: space-between;
}
#stateList button {
  display: flex;
  padding: 10px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
#stateList tr:hover {
  background-color: rgb(235, 189, 103);
  color: white;
  cursor: pointer;
}
#stateList button:hover {
  color: white;
}
.listOfStates::-webkit-scrollbar {
  display: none;
}

/* 5days forcast section */
.footer {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.footer #footer__label {
  text-align: center;
  padding: 1rem;
  font-family: 'Lora', serif;
}
.footer .fiveDaysList {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}
.fiveDaysList .days {
  text-align: center;
  margin: 0;
}
.fiveDaysList .days > p {
  margin: 0;
}

@media (max-width: 1000px) {
  .currentWeather__top #cityName {
    font-size: 3rem;
  }
  .currentWeather__info .info__box h3 {
    font-size: 1rem;
    margin: 1rem;
  }
  .currentWeather__info .info__box h4 {
    font-size: 1rem;
    margin: 1rem;
  }
}

/* tablet size */
@media (max-width: 768px) {
  .body {
    /* overflow-x: hidden; */
    /* margin-bottom: 2rem; */
    padding-bottom: 2rem;
    height: 100vh;
  }
  .app {
    overflow: hidden;
    /* min-height: 100vh; */
    /* background-image: none; */
    /* background-color: white; */
  }
  .container-fluid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .header {
    color: white;
  }
  .body {
    display: block;
    border: none;
  }

  .searchArea {
    display: flex;
    width: 100%;
    color: black;
    height: 40%;
  }
  .searchArea form {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
  }
  .searchArea__bottom {
    display: flex;
  }
  .searchArea #searchBar {
    padding: 0.5rem;
    width: 100%;
    border-radius: 17px;
  }
  .searchArea #submitBtn {
    width: 20%;
    border-radius: 10px;
    background-color: transparent;
    color: black;
  }
  .searchArea #searchList {
    overflow-y: scroll;
  }
  .searchArea #searchList button {
    width: 100%;
    padding: 0;
  }

  .currentWeather {
    margin-top: 2rem;
    display: block;
    align-items: center;
    height: fit-content;
  }

  .currentWeather__top #cityName {
    font-size: 3rem;
    text-align: center;
  }
  .currentWeather__top #temperature {
    font-size: 3rem;
    margin-top: 2rem;
  }
  .currentWeather__info {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 20%;
  }
  .currentWeather__info .info__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50%;
    border-right: 1px solid white;
    width: 20%;
  }
  .currentWeather__info .info__box h3 {
    font-size: 0.9rem;
  }
  .listOfStates {
    visibility: hidden;
  }
  .footer {
    margin-top: -4rem;
    display: block;
    height: 100%;
  }
  #footer__label {
    visibility: hidden;
  }
  .fiveDaysList .days {
    min-width: 20%;
    text-align: center;
    margin: 0;
    display: flex;
    flex-direction: column;
    /* border: 1px solid white; */
    height: 30%;
  }
  .fiveDaysList .days > h3,
  .fiveDaysList .days > h4 {
    font-size: 1rem;
  }
  .fiveDaysList .days > p {
    color: gray;
  }
  .fiveDaysList .days > #humidity {
    visibility: hidden;
  }
}

/* @media (max-width: 768px) {
  html,
  body {
    overflow-x: hidden;

    background-color: white;
    color: black;
  }
  .app {
    background-image: none;
    background-color: white;
    display: block;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: max-content;
    color: black;
    margin: 0;
    border: 1px solid black;
  }
  .container {
    display: block;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 1rem;
    background: white;
    max-height: auto;
  }

  .header {
    color: black;
  }
  .main {
    display: block;
    max-height: auto;
    border: none;
    background-color: white;
  }
  .searchArea {
    display: flex;
    justify-content: center;
    color: black;
    border: 1px solid black;
  }
  .searchArea #searchList {
    color: black;
  }

  .searchArea__img img {
    width: 60%;
    height: 200px;
    object-fit: cover;
  }
  .searchArea {
    display: block;
    width: 100%;
  }
  .searchArea #searchBar {
    display: flex;
    align-items: center;
    border: 1px solid black;
    color: black;
  }
  .searchArea #searchList {
    overflow-y: scroll;
  }

  .searchArea #searchList button {
    width: 100%;
    padding: 0;
    border: 1px solid black;
    color: black;
  }
  .currentWeather {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: auto;
  }
  .currentWeather__top #cityName {
    font-size: 3rem;
    text-align: center;
  }

  .currentWeather__info {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .footer {
    display: none;
  }
  .listOfStates {
    display: none;
  }
} */
