* {
  margin: 0;
  padding: 0;
  font-family: 'open-sans', sans-serif;
  font-weight: 100;
}
@media (max-width: 699px) {
  .header {
    text-align: center;
    margin: 20px;
  }
  #searchList {
    margin: 20px;
    text-align: center;
    height: 120px;
    overflow: scroll;
    background-color: rgba(161, 233, 255, 0.6);
  }
  .searchBar {
    text-align: center;
  }
  .currentWeather {
    margin-top: 40px;
    text-align: center;
  }
  .currentWeather h2 {
    margin-top: 20px;
  }
  .currentWeather h4 {
    color: gray;
    margin-top: 10px;
  }
  .currentWeather .info {
    margin-top: 30px;
    color: gray;
  }
  .listOfStates {
    display: none;
  }
  .footer {
    display: none;
  }
}

@media (min-width: 700px) {
  html {
    height: 100%;
  }
  body {
    position: relative;
    min-height: 100%;
  }

  body:before {
    content: '';
    background-image: url('https://images.unsplash.com/photo-1612893964995-b2c9f1ce919f?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1489&q=80');
    background-size: cover;
    background-position: top center;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    opacity: 0.75;
  }

  .container {
    margin: 0 10px;
    padding-top: 30px;
    position: relative;
  }

  .header {
    display: flex;
    justify-content: center;
    color: white;
    margin-top: -10px;
    margin-bottom: 10px;
  }

  .main {
    height: 60vh;
    display: flex;
    justify-content: space-between;
  }

  /* list of states */
  .listOfStates {
    display: flex;
    flex-direction: column;
    flex: 1;
    border: 1px solid black;

    opacity: 0.75;
  }
  .listOfStates h3 {
    font-size: 1.5rem;
    text-align: center;
    margin-top: 10px;
  }
  #stateList {
    width: 100%;
    margin-top: 20px;
    overflow: scroll;
    background-color: rgba(255, 251, 251, 0.6);
  }
  #stateList tr:nth-of-type(odd) {
    background-color: #add8e6;
  }
  #stateList tr {
    display: flex;
    justify-content: space-between;
  }
  #stateList button {
    display: flex;
    padding: 10px;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  #stateList tr:hover {
    background-color: rgb(51, 103, 172);
  }

  /* five days area */
  .fiveDaysList {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    text-align: center;
    justify-content: space-around;
  }
  .fiveDaysList h4 {
    color: white;
  }
  .days {
    height: auto;
    display: flex;
    flex: none;
    flex-direction: column;
    border: 1px solid black;
    /* margin-bottom: 20px; */
  }
  .fiveDaysList img {
    height: 150px;
    width: 150px;
    margin: 0 auto;
  }
  .fiveDaysListLabel {
    margin: 10px;
  }

  /* searchBar area */
  .searchBar {
    display: flex;
    flex: 0.75;
    flex-direction: column;
    border: 1px solid black;
    border-right: none;
  }
  .searchBar form {
    padding: 5px;
    margin-top: 20px;
  }

  #citySearchBar {
    padding: 5px;
    width: 50%;
    /* border: none; */
    background-color: lightcyan;
  }
  #label {
    color: white;
  }
  #submitBtn {
    padding: 5px;
    width: 20%;
    background-color: lightblue;
    border: none;
  }
  #searchList {
    margin-top: 5px;
    overflow: scroll;
    border-right: none;
  }
  #searchList button {
    border: none;
    background-color: transparent;
    padding: 4px;
    cursor: pointer;
    /* border: 1px solid plum; */
  }
  #searchList button:hover {
    background-color: rgb(51, 103, 172);
    padding: 4px;
    cursor: pointer;
  }
  #searchList #cityBtn {
    width: 80%;
  }
  #searchList #removeBtn:hover {
    background-color: rgb(221, 150, 150);
  }
  #searchResult {
    margin: 10px;
    padding: 4px;
    border: 1px solid rgb(144, 174, 218);
  }
  .city {
    list-style: none;
  }

  /* main display area */
  .currentWeather {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    flex: 3;
    border: 1px solid black;
    /* text-align: center; */
    border-left: none;
  }
  .currentWeather h1 {
    font-size: 4rem;
    margin-bottom: 10px;
    text-align: center;
  }
  .currentWeather h2 {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 20px;
    animation: pulse 1.5s infinite;
  }
  .currentWeather h3 {
    margin-top: 1rem;
    color: white;
    text-align: center;
  }
  .currentWeather #uv {
    color: black;
  }
  .currentWeather h4 {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 50px;
    color: white;
  }
  .currentWeather .info {
    display: inline-flex;
    justify-content: space-around;
  }
  #icon {
    height: 100px;
    width: 100px;
  }
}

/* @media (max-width: 375px) {
  .listOfStates {
    display: hide;
  }
} */
