* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

.app {
  min-height: 100vh;
  width: 100%;
  position: relative;
  background-image: url('https://bit.ly/3CuKlPZ');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.container {
  position: absolute;
  min-height: 100%;
  max-height: fit-content;
  width: 100%;
  background: rgba(0, 0, 0, 0.25);
  color: white;
  display: flex;
  flex-direction: column;
}
.header {
  display: flex;
  justify-content: center;
  padding: 1rem;
}
.main {
  display: flex;
  justify-content: space-around;
  height: 60vh;
  max-height: 60vh;
  /* border: 1px solid black; */
  border-bottom: 1px solid white;
  padding: 1rem;
}
/* Search section */
.searchArea {
  display: flex;
  flex-direction: column;
  flex: 0.5;
  /* border: 1px solid black; */
}
.searchArea__img {
  display: flex;
  justify-content: center;
}
.searchArea__img img {
  height: 200px;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  margin-top: 1rem;
}
.searchArea form {
  padding: 1rem;
  display: flex;
}
.searchArea #searchBar {
  padding: 0.5rem;
  width: 100%;

  border: 1px solid white;
  border-radius: 17px;
}

.searchArea #submitBtn {
  width: 20%;
  border-radius: 10px;
  background-color: transparent;
  color: white;
  border: 1px solid white;
}
.searchArea #searchList {
  overflow-y: scroll;
}
.searchArea #searchList button {
  background-color: transparent;
  padding: 0.7rem;
  cursor: pointer;
  border: none;
  color: white;
}

#searchResult {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  padding: 3px;
  border: 1px solid white;
  border-radius: 10px;
}
#searchResult:hover {
  cursor: pointer;
  background-color: skyblue;
}

/* Main display section */
.currentWeather {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  flex: 2;
  /* border: 1px solid black; */
}

.currentWeather__top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  /* border: 1px solid black; */
}
.currentWeather__top #cityName {
  font-size: 5rem;
  margin-bottom: 2rem;
  color: white;
  font-family: 'Lora', serif;
}
.currentWeather__top #temperature {
  font-size: 4rem;
  margin-top: 2rem;
  /* color: gray; */
}
.currentWeather .weatherSymbol {
  margin-top: 4rem;
}
.currentWeather__info {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 200px;
  width: 80%;
  /* border: 1px solid black; */
}
.currentWeather__info .info__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  border-right: 1px solid white;
  width: 20%;
}
.currentWeather__info .info__box:first-child {
  border-left: 1px solid white;
}
.currentWeather__info .info__box h3,
.currentWeather__info .info__box h4 {
  font-size: 1.5rem;
  margin: 1rem;
}

.currentWeather__info .info__box #uv {
  color: black;
}

/* List of states section */
.listOfStates {
  display: flex;

  flex-direction: column;
  flex: 0.5;
  border: 1px solid white;
  border-radius: 17px;
  overflow-y: scroll;
  width: 100%;
}

#listOfStates__title {
  font-size: 1.5rem;
  text-align: center;
  margin: 1rem;
  font-family: 'Lora', serif;
}
#stateList tr:nth-of-type(odd) {
  background-color: #e7b593;
}
#stateList tr {
  display: flex;
  justify-content: space-between;
}
#stateList button {
  display: flex;
  padding: 10px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
#stateList tr:hover {
  background-color: rgb(235, 189, 103);
  color: white;
  cursor: pointer;
}
#stateList button:hover {
  color: white;
}

/* 5days forcast section */
.footer {
  display: flex;
  /* align-items: center; */
  flex-direction: column;
  width: 100%;
  height: 30vh;
  /* border: 1px solid black; */
}
.footer #footer__label {
  text-align: center;
  padding: 1rem;
  font-family: 'Lora', serif;
}
.footer .fiveDaysList {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  margin-top: 1rem;
}

/* @media (max-width: 1000px) and (min-width: 601px) {
  .currentWeather__top #cityName {
    color: red;
    font-size: 3rem;
    margin-bottom: 2rem;
    color: white;
    font-family: 'Lora', serif;
  }
} */
@media (max-width: 1000px) {
  .currentWeather__top #cityName {
    font-size: 3rem;
  }
  .currentWeather__info .info__box h3 {
    font-size: 1rem;
    margin: 1rem;
  }
  .currentWeather__info .info__box h4 {
    font-size: 1rem;
    margin: 1rem;
  }
}

/* tablet size */
@media (max-width: 768px) {
  html,
  body {
    overflow-x: hidden;
  }
  .app {
    background-image: none;
    background-color: white;
  }
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    background-color: white;
  }
  .header {
    color: black;
  }
  .main {
    display: block;
    max-height: auto;
    border: none;
    width: 375px;
  }

  .searchArea {
    display: flex;
    width: 100%;
    color: black;
  }
  .searchArea__img {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
  }
  .searchArea__img img {
    width: 60%;
  }
  .searchArea form {
    display: flex;
    align-items: center;
    color: black;
    border: 1px solid black;
  }

  .searchArea #searchBar {
    padding: 0.5rem;
    width: 100%;
    border: 1px solid gray;
    border-radius: 17px;
  }
  .searchArea #submitBtn {
    width: 20%;
    border-radius: 10px;
    background-color: transparent;
    color: black;
    border: 1px solid gray;
  }
  .searchArea #searchList {
    overflow-y: scroll;
  }

  .searchArea #searchList button {
    width: 100%;
    padding: 0;
    color: black;
    border: 1px solid gray;
  }

  .currentWeather {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: auto;
    color: black;
  }
  .currentWeather__top #cityName {
    font-size: 3rem;
    text-align: center;
    color: black;
  }
  .currentWeather__top #temperature {
    font-size: 3rem;
    margin-top: 2rem;
    /* color: gray; */
  }

  .currentWeather__info {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    margin-bottom: 2rem;
    padding-bottom: 2rem;
  }
  .currentWeather__info .info__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60%;
    border-right: 1px solid white;
    width: 20%;
  }
  .currentWeather__info .info__box h3 {
    font-size: 0.9rem;
    margin: 1rem;
  }

  .footer {
    display: block;
    visibility: hidden;
  }
}

/* @media (max-width: 768px) {
  html,
  body {
    overflow-x: hidden;

    background-color: white;
    color: black;
  }
  .app {
    background-image: none;
    background-color: white;
    display: block;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: max-content;
    color: black;
    margin: 0;
    border: 1px solid black;
  }
  .container {
    display: block;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 1rem;
    background: white;
    max-height: auto;
  }

  .header {
    color: black;
  }
  .main {
    display: block;
    max-height: auto;
    border: none;
    background-color: white;
  }
  .searchArea {
    display: flex;
    justify-content: center;
    color: black;
    border: 1px solid black;
  }
  .searchArea #searchList {
    color: black;
  }

  .searchArea__img img {
    width: 60%;
    height: 200px;
    object-fit: cover;
  }
  .searchArea {
    display: block;
    width: 100%;
  }
  .searchArea #searchBar {
    display: flex;
    align-items: center;
    border: 1px solid black;
    color: black;
  }
  .searchArea #searchList {
    overflow-y: scroll;
  }

  .searchArea #searchList button {
    width: 100%;
    padding: 0;
    border: 1px solid black;
    color: black;
  }
  .currentWeather {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: auto;
  }
  .currentWeather__top #cityName {
    font-size: 3rem;
    text-align: center;
  }

  .currentWeather__info {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .footer {
    display: none;
  }
  .listOfStates {
    display: none;
  }
} */
